/* Firefox */
.sider-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent #663F7E; /* thumb transparent by default */
}

.sider-scrollbar:hover {
  scrollbar-color: #1e453c #663F7E; /* thumb visible on hover */
}

/* Webkit browsers */
.sider-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent; /* hide by default */
}

.sider-scrollbar:hover::-webkit-scrollbar {
  background: #663F7E; /* track visible on hover */
}

.sider-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* hide thumb by default */
  border-radius: 6px;
  border: 2px solid #663F7E;
}

.sider-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #1e453c; /* thumb visible on hover */
}

.sider-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: #16342d; /* darker on thumb hover */
}
